<style>
    .quote {
        background-color: grey;
        opacity: 0.9;
    }
</style>
<div class="container">
    <h1>QUOTES</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 border">
            <app-quotes-form></app-quotes-form>
        </div>
        <div class="col-md-6 border">
            <div *ngFor='let quote of quotes; let i = index' class="border m-5 p-3">
                <h4 style="font-weight: bolder;">{{quote.type}} Quote created on {{quote.completeDate|date}}</h4>
                <button (click)='showQuote(i)' class="btn btn-success">SHOW QUOTE</button>
                <app-quotes-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                </app-quotes-detail>

            </div>
        </div>

    </div>
</div>