<app-navbar></app-navbar>


<div class="container">
    <h1 style="font-weight: bolder;" class="heading text-center border">Q&J</h1>
    <hr>
    <h5 class="text-center" class="intro border m-2 p-4">Hello there, Did you know that you can create a Quote here
        just
        by
        filling in
        the Create
        Quote Form?
        More so, You can upvote and downvote an already existing quote just by
        clicking the like or
        dislike icon.
    </h5>

    <div class="row">
        <div class="col-md-6 border p-3 " style="background-color: red; opacity: 0.9; color: white;">

            <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
        </div>
        <div class="col-md-6 border  " style="background-color: red; opacity: 0.9; color: white;">
            <h2 style="text-decoration: underline;" class="theQuote text-center mt-3">QUOTES</h2>
            <div *ngFor='let quote of quotes; let i = index' class="border m-5 p-3">
                <h4 style="font-weight: bolder;">{{quote.type}} Quote created on
                    {{quote.completeDate|date}}</h4>
                <button (click)='showQuote(i)' class="btn btn-success">SHOW QUOTE</button>
                <app-quotes-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                </app-quotes-detail>

                <button class="ml-3 btn bg-success" (click)='addUpvote(i)'>Upvote</button>
                <button class="ml-3  btn btnDownvote " (click)='addDownvote(i)'>DownVote</button>
                <h5 *ngIf='quote === highestUpvote()' appHighlight>{{quote.description}} by {{quote.author}}, is the
                    quote with the most
                    Upvotes.</h5>
            </div>

        </div>
    </div>


</div>