<style>
    h4 {
        font-weight: bold;

    }

    .author {
        color: white;
    }

    .submit {
        color: white;
    }

    .btn:hover {

        color: black;
        font-weight: bolder;
    }
</style>
<div class="container">

    <hr>
    <div class="details border m-3 p-4">

        <h4>{{quote.description}}</h4>
        <h4 class="author">Author:-{{quote.author}}-</h4>
        <h4 class="submit">Submitted By:{{ quote.name}}</h4>
        <h5>This quote was created {{quote.completeDate|dateCount}} days ago</h5>
        <button (click)='quoteDelete(true)' class="btn btn-danger">Delete Quote</button>

    </div>

    <div>
        <button class="ml-3 btn bg-success" type="submit">Upvote</button>
        <h4 class="ml-3">Upvotes:{{quote.Upvote}}</h4>
    </div>
    <div>
        <button class="ml-3 btn bg-success" type="submit">DownVote</button>

        <h4 class="ml-3">Downvotes:{{quote.Downvote}}</h4>
    </div>

</div>